mat-card-title {
    margin-bottom: 0.5rem;
}

mat-card-content {
    display: flex;
    margin-right: auto;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

mat-card-content mat-icon {
    margin-right: 5px;
}
