.active-link {
    color: #fff;
    background-color: #007bff;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

a:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
