<mat-toolbar color="primary">
    <a routerLink="/dashboard" class="me-1"><h4>Lucra</h4></a>
    <a routerLink="/dashboard" class="me-1" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Overview</a>
    <a routerLink="/add-expense" class="me-1" routerLinkActive="active-link">Add expense</a>
    <a routerLink="/add-income" class="me-1" routerLinkActive="active-link">Add income</a>
    <a routerLink="/investments-calculator" class="me-1" routerLinkActive="active-link">Investments calculator</a>
    <a routerLink="/reports" class="me-1" routerLinkActive="active-link">Reports</a>
    <a routerLink="/pending-requests" class="me-1" routerLinkActive="active-link">Pending requests</a>
    <a routerLink="/previous-requests" class="me-1" routerLinkActive="active-link">Previous requests</a>
</mat-toolbar>
