<nav class="navbar fixed-top navbar-expand-lg nav-custom">
    <div class="container">
        <a class="navbar-brand" style="color: #ffffff" routerLink="/dashboard">
            <img class="navbar-brand-image ms-1" src="/assets/logo/pie-chart.svg" alt="Website logo" />
        </a>
        <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse ms-2" id="navbarsDefault">
            <ul class="navbar-nav">
                @if ((advisorAccount$ | async) === false) {
                    <li class="nav-item">
                        <a routerLink="/dashboard" class="nav-link me-1" routerLinkActive="active-link">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/add-expense" class="nav-link me-1" routerLinkActive="active-link">Add expense</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/add-income" class="nav-link me-1" routerLinkActive="active-link">Add income</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/investments-calculator" class="nav-link me-1" routerLinkActive="active-link"
                            >Investments calculator</a
                        >
                    </li>
                    <li class="nav-item">
                        <a routerLink="/reports" class="nav-link me-1" routerLinkActive="active-link">Reports</a>
                    </li>
                } @else {
                    <li class="nav-item">
                        <a routerLink="/pending-requests" class="nav-link me-1" routerLinkActive="active-link">Pending requests</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/previous-requests" class="nav-link me-1" routerLinkActive="active-link">Previous requests</a>
                    </li>
                }
            </ul>
        </div>
        <a *ngIf="loggedIn" class="nav-link ms-4" routerLink="/profile" routerLinkActive="active-link">
            {{ getUsername() }}
        </a>
        <div *ngIf="loggedIn" class="row cursor-pointer" (click)="logout()">
            <span class="material-icons me-2">logout</span>
        </div>
        <button
            class="navbar-toggler hidden-sm-up me-1"
            type="button"
            (click)="isNavbarCollapsed = !isNavbarCollapsed"
            data-target="#navbarsDefault"
            aria-controls="navbarsDefault"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="nav-offset"></div>
