<mat-toolbar color="primary">
  <button mat-button routerLink="/" class="me-1"><h4>Lucra</h4></button>
  <button mat-button routerLink="/" class="me-1" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Overview</button>
  <button mat-button routerLink="/add-expense" class="me-1" routerLinkActive="active-link">Add expense</button>
  <button mat-button routerLink="/add-income" class="me-1" routerLinkActive="active-link">Add income</button>
  <button mat-button routerLink="/investments-calculator" class="me-1" routerLinkActive="active-link">Investments calculator</button>
  <button mat-button routerLink="/reports" class="me-1" routerLinkActive="active-link">Reports</button>
  <button mat-button routerLink="/pending-requests" class="me-1" routerLinkActive="active-link">Pending requests</button>
  <button mat-button routerLink="/previous-requests" class="me-1" routerLinkActive="active-link">Previous requests</button>
</mat-toolbar>
